.notebook {
    .notes {
      display: flex;
      .days {
        width: 50%;
      }
      .timezone {
        width: 50%;
      }
      .weather {
        width: 50%;
      }
      .place {
        width: 50%;
      }
    }
    .kind_of_practice {
  
    }
    .results {
      .result {
        .result-header {
          display: flex;
          align-items: center;
          justify-content: right;
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: #c1ced7 solid 1px;
          .remove {
            width: 10%;
          }
          .distance {
            width: 30%;
            margin-right:1%;
          }
          .time {
            width: 50%;
            margin-right: 1%;
            .time-detail {
              display: flex;
              align-items: center;
            }
            .hour {
              width: 33%;
              text-align: right;
            }
            .minute {
              width: 33%;
              text-align: right;
            }
            .second {
              width: 33%;
              text-align: right;
            }
          }
          .time {
            width: 65%;
            margin-right: 1%;
            .time-detail {
              display: flex;
              align-items: center;
            }
            .hour {
              width: 33%;
              text-align: right;
            }
            .minute {
              width: 33%;
              text-align: right;
            }
            .second {
              width: 33%;
              text-align: right;
            }
          }
          .type {
            width: 15%;
          }
        }
        .result-details {
          display: flex;
          align-items: center;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: #c1ced7 solid 1px;
          input {
            border: 1px solid #b6c3c6;
            border-radius: 4px;
          }
          .remove {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              padding: 0.1em 0.3em;
              color: red;
              font-size: 12px;
              font-weight: 400;
              border-radius: 5px;
              border: 1px solid red;
            } :hover {
              text-decoration: none;
              background-color: rgba(255, 0, 0, 0.123);
            }
          }
          .distance {
            width: 30%;
            margin-right:1%;
          }
          .time {
            width: 50%;
            margin-right: 1%;
            .time-detail {
              display: flex;
              align-items: center;
            }
            .hour {
              width: 33%;
              display: flex;
              justify-content: flex-end;
              input {
                width: 90%;
                text-align: right;
              }
            }
            .minute {
              width: 33%;
              display: flex;
              justify-content: flex-end;
              input {
                width: 90%;
                text-align: right;
              }
            }
            .second {
              width: 33%;
              display: flex;
              justify-content: flex-end;
              input {
                width: 90%;
                text-align: right;
              }
            }
          }
          .time {
            width: 65%;
            margin-right: 1%;
            .time-detail {
              display: flex;
              align-items: center;
            }
            &.high {
              width: 50%;
            }
            .hour {
              width: 33%;
              display: flex;
              justify-content: flex-end;
              input {
                width: 90%;
                text-align: right;
              }
            }
            .minute {
              width: 33%;
              display: flex;
              justify-content: flex-end;
              input {
                width: 90%;
                text-align: right;
              }
            }
            .second {
              width: 33%;
              display: flex;
              justify-content: flex-end;
              input {
                width: 90%;
                text-align: right;
              }
            }
          }
          .type {
            width: 15%;
          }
        }
        .add-botton-box {
          a {
            padding: 0.5em;
            color: #0BBBD7;
            font-size: 12px;
            font-weight: 400;
            border-radius: 5px;
            border: 1px solid #0BBBD7;
          } :hover {
            text-decoration: none;
            background-color: #0bbcd725;
          }
        }
      }
    }
    .save-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      input {
        width: 100px;
        margin: 20px 0;
        padding: 0.5em;
        background-color: #0BBBD7;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
      } :hover {
        text-decoration: none;
        background-color: #0bbcd725;
      }
  
    }
}

.FlexTextarea {
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
    .FlexTextarea__dummy {
        overflow: hidden;
        visibility: hidden;
        box-sizing: border-box;
        padding: 5px 15px;
        min-height: 120px;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        border: 1px solid;
      }
    .FlexTextarea__textarea {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        padding: 5px 15px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 1px solid #b6c3c6;
        border-radius: 4px;
        color: inherit;
        font: inherit;
        letter-spacing: inherit;
        resize: none;
        &:focus {
            box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
            outline: 0;
        }
    }
}

section {
    background:white;
    box-shadow: 0px 0.5px 5px rgba(0,0,0,.3);
    margin:40px auto;
    padding: 4em;
    max-width: 1080px;
    h1 {
      margin: 0 0 2em;
    }
    h3 {
      margin: 1.5em 0 0;
    }
}

/* 編集モーダル */
.content-modal {
    width: 100%;
    margin-top: 20px;
    border: #0BBBD7 solid 1px;
    background-color: #0BBBD7;
    border-radius: 10px 10px 0 0;
    .date-timezone {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: white;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .practice {
        background-color: white;
        height: auto;
        padding-top: 10px;
        .result {
            margin: 0px 10px 10px 10px;
            padding: 10px;
            background-color:#0BBBD7;
            border-radius: 12px;
            font-size: 13px;
            font-weight: 500;
            .distance-time {
                display: flex;
                font-weight: 600;
                .distance {
                    width: 50%;
                    display: flex;
                    align-items: flex-end;
                    color: white;
                    .figure {
                        font-size: 24px;
                        line-height: normal;
                        margin-right: 5px;
                    }
                }
                .time {
                    width: 30%;
                }
                .pace {
                    width: 20%;
                }
                .figure {
                    color: white;
                }
            }
        }
        .detail {
            img {
                height: 40px;
                margin:0 10px
            }
            .weather {
                display: flex;
                align-items: center;
                border-top: #BFBFBF solid 1px;
                padding: 5px 0;
                font-weight: 600;
                .weather-kind {
                    margin-right: 10px;
                }
            }
            .strength {
                display: flex;
                align-self: center;
                border-top: #BFBFBF solid 1px;
                padding: 5px 0;
                font-weight: 600;
                .strength-phase {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;

                }
                .strength-value {
                    display: flex;
                    align-self: center;
                    .square {
                        width: 25px;
                        height: 25px;
                        border: #0BBBD7 solid 1px;
                        margin-left: 2px;
                    }
                    .square-fill {
                        width: 25px;
                        height: 25px;
                        border: #0BBBD7 solid 1px;
                        background-color: #0BBBD7;
                        margin-left: 2px;
                    }
                }
                
            }
            .thoughts {
                border-top: #BFBFBF solid 1px;
                border-bottom: #BFBFBF solid 1px;
                padding: 10px;
                font-size: 12px;
                min-height: 170px
            }
            .buttons {
                display: flex;
                justify-content: flex-end;
                padding-right: 5px;
                a {
                    margin: 5px;
                    text-decoration: underline;
                    text-decoration-color: #BFBFBF;
                }
            }
        }
    }
}
