/* メインページ */
.practice_lists {
    .title {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 10px;
    }
    .content {
        width: 30%;
        margin-top: 20px;
        border: #0BBBD7 solid 1px;
        background-color: #0BBBD7;
        border-radius: 10px 10px 0 0;
        .date-timezone {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: white;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .practice {
            background-color: white;
            height: auto;
            padding-top: 10px;
            .result {
                margin: 0px 10px 10px 10px;
                padding: 10px;
                background-color:#0BBBD7;
                border-radius: 12px;
                font-size: 13px;
                font-weight: 500;
                .distance-time {
                    display: flex;
                    font-weight: 600;
                    .distance {
                        width: 50%;
                        display: flex;
                        align-items: flex-end;
                        color: white;
                        .figure {
                            font-size: 24px;
                            line-height: normal;
                            margin-right: 5px;
                        }
                    }
                    .time {
                        width: 30%;
                    }
                    .pace {
                        width: 20%;
                    }
                    .figure {
                        color: white;
                    }
                }
            }
            .detail {
                img {
                    height: 40px;
                    margin:0 10px
                }
                .weather {
                    display: flex;
                    align-items: center;
                    border-top: #BFBFBF solid 1px;
                    padding: 5px 0;
                    font-weight: 600;
                    .weather-kind {
                        margin-right: 10px;
                    }
                }
                .strength {
                    display: flex;
                    align-self: center;
                    border-top: #BFBFBF solid 1px;
                    padding: 5px 0;
                    font-weight: 600;
                    .strength-phase {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;

                    }
                    .strength-value {
                        display: flex;
                        align-self: center;
                        .square {
                            width: 25px;
                            height: 25px;
                            border: #0BBBD7 solid 1px;
                            margin-left: 2px;
                        }
                        .square-fill {
                            width: 25px;
                            height: 25px;
                            border: #0BBBD7 solid 1px;
                            background-color: #0BBBD7;
                            margin-left: 2px;
                        }
                    }
                    
                }
                .thoughts {
                    border-top: #BFBFBF solid 1px;
                    border-bottom: #BFBFBF solid 1px;
                    padding: 10px;
                    font-size: 12px;
                    min-height: 170px
                }
                .buttons {
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 5px;
                    a {
                        margin: 5px;
                        text-decoration: underline;
                        text-decoration-color: #BFBFBF;
                    }
                }
            }
        }
    }
}

.sd {
    font-size: 36px;
    width: auto;
    display: inline;
}

/* 練習日誌（月間表示） */
.practice_day {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
    text-align: center;
    width: auto;
    max-width: 100%;
    display: inline;
}

.practice_diary_header {
    height: 76px;
    padding: 0px 20px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month_objective {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
}

.month_objective_title {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
}

.month_objective_title_name {
    color: #333;
    flex: none;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.4;
    padding: 0px 20px 0px 0px;
    text-align: center;
    width: 15%;
    max-width: 15%;
    justify-content: center;
    display: flex;
    position: relative;
}

.month_objective_title_input {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-radius: 4px;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    box-shadow: none;
    color: #333;
    flex: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 0em;
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    text-align: left;
    width: 75%;
    max-width: 75%;
}

.for_month_objective_textarea {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0,0,0,0.0);
    border-radius: 0;
    flex: none;
    height: auto;
    margin: 10px 0px 10px 0px;
    opacity: 1;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0 0 0 0;
    width: 75%;
    max-width: 75%;
    display: flex;
 }

.for_month_objective_textarea_input {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-radius: 4px;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    box-shadow: none;
    color: #333;
    flex: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    height: 80px;
    justify-content: center;
    letter-spacing: 0em;
    line-height: 1.4;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    text-align: left;
    text-shadow: none;
    width: 100%;
    max-width: 100%;
}

.month_objective_title_button {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-radius: 4px;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    color: #333;
    flex: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 0em;
    line-height: 1.4;
    margin: 0px 5px 0px 5px;
    opacity: 1;
    padding: 0px;
    text-align: left;
    width: calc(10% - 10px);
    max-width: calc(10% - 10px);
    display: flex;
    position: relative;
    align-items: center;
    p {
        border-radius: 0;
        color: #000000;
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 1;
        margin: 0 0 0 0;
        opacity: 1;
        padding: 0px 0px 2px 0px;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}

.month_objective__todo_button_area {
    align-content: center;
    align-items: center;
    background: rgba(238, 238, 238, 0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80px;
    justify-content: flex-end;
    width: 10%;
    max-width: 10%;
    display: flex;
    position: relative;
}

.month_objective_todo_button {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-radius: 4px;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    color: #333;
    flex: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 0em;
    line-height: 1.4;
    margin: 0px 5px 0px 5px;
    opacity: 1;
    padding: 0px;
    text-align: left;
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    display: flex;
    align-items: center;
    p {
        border-radius: 0;
        color: #000000;
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 1;
        margin: 0 0 0 0;
        opacity: 1;
        padding: 0px 0px 2px 0px;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}

.calender_header {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
}

.calender_header_col_1 {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 0px solid #EEEEEE;
    border-left: 0px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 0px solid #EEEEEE;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: center;
    padding: 0px 20px 0px;
    width: 12%;
    max-width: 12%;
    display: flex;
    position: relative;
    p {
        color: #333;
        font-family: Lato;
        font-size: 15px;
        font-weight: 500;
        height: auto;
        line-height: 1.4;
        text-align: left;
        width: auto;
        max-width: 100%;
        justify-content: flex-start;
        display: flex;
    }
}

.calender_header_col_2 {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 0px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 0px solid #EEEEEE;
    flex: none;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: left;
    padding: 0px 20px 0px;
    width: 60%;
    max-width: 60%;
    display: flex;
    position: relative;
    p {
        color: #333;
        font-family: Lato;
        font-size: 15px;
        font-weight: 500;
        height: auto;
        line-height: 1.4;
        text-align: left;
        width: auto;
        max-width: 100%;
        justify-content: flex-start;
        display: flex;
    }
}

.calender_header_col_3 {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 0px solid #EEEEEE;
    border-left: 0px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 0px solid #EEEEEE;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: center;
    padding: 0px 20px 0px;
    width: 13%;
    max-width: 13%;
    display: flex;
    position: relative;
    p {
        color: #333;
        font-family: Lato;
        font-size: 15px;
        font-weight: 500;
        height: auto;
        line-height: 1.4;
        text-align: left;
        width: auto;
        max-width: 100%;
        justify-content: flex-start;
        display: flex;
    }
}

.calender_header_col_4 {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 0px solid #EEEEEE;
    border-left: 0px solid #EEEEEE;
    border-top: 0px solid #EEEEEE;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: center;
    padding: 0px 20px 0px;
    width: 15%;
    max-width: 15%;
    display: flex;
    position: relative;
    p {
        color: #333;
        font-family: Lato;
        font-size: 15px;
        font-weight: 500;
        height: auto;
        line-height: 1.4;
        text-align: left;
        width: auto;
        max-width: 100%;
        justify-content: flex-start;
        display: flex;
    }
}

.calender_contents {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 5px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.calender_content {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    box-shadow: none;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.calender_content_col_2 {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-right: 1px solid #EEEEEE;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    margin-left: 10px;
    width: 60%;
    max-width: 60%;
    display: flex;
    .buttons {
        margin: auto;
        a {
            text-decoration: underline;
            text-decoration-color: #BFBFBF;
        }
    }
}

.practice_menu {
    align-content: center;
    align-items: center;
    background: gray;
    border-radius: 12px;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 5px 0px 5px 0px;
    padding: 10px 10px 10px 10px;
    width: 85%;
    max-width: 90%;
    display: flex;
}

.practice_timezone {
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;
    width: auto;
    max-width: calc(100% - 10px);
    display: flex;
    p {
        color: #444444;
        font-family: Lato;
        font-size: 15px;
        font-weight: 700;
        height: auto;
        line-height: 1.4;
        text-align: center;
        width: auto;
        max-width: 100%;
        justify-content: center;
        display: flex;
    }
}

.practice_content {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    border-bottom: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-radius: 16px;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;
    width: auto;
    max-width: calc(100% - 10px);
    display: flex;
    p {
        color: #FFFFFF;
        font-family: Lato;
        font-size: 15px;
        font-weight: 700;
        height: auto;
        line-height: 1.4;
        text-align: center;
        width: auto;
        max-width: 100%;
        justify-content: center;
        display: flex;
    }
}