/* メインページ */
.practice_lists {
    .title {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 10px;
    }
    .content {
        width: 30%;
        margin-top: 20px;
        border: #0BBBD7 solid 1px;
        background-color: #0BBBD7;
        border-radius: 10px 10px 0 0;
        .date-timezone {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: white;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .practice {
            background-color: white;
            height: auto;
            padding-top: 10px;
            .result {
                margin: 0px 10px 10px 10px;
                padding: 10px;
                background-color:#0BBBD7;
                border-radius: 12px;
                font-size: 13px;
                font-weight: 500;
                .distance-time {
                    display: flex;
                    font-weight: 600;
                    .distance {
                        width: 50%;
                        display: flex;
                        align-items: flex-end;
                        color: white;
                        .figure {
                            font-size: 24px;
                            line-height: normal;
                            margin-right: 5px;
                        }
                    }
                    .time {
                        width: 30%;
                    }
                    .pace {
                        width: 20%;
                    }
                    .figure {
                        color: white;
                    }
                }
            }
            .detail {
                img {
                    height: 40px;
                    margin:0 10px
                }
                .weather {
                    display: flex;
                    align-items: center;
                    border-top: #BFBFBF solid 1px;
                    padding: 5px 0;
                    font-weight: 600;
                    .weather-kind {
                        margin-right: 10px;
                    }
                }
                .strength {
                    display: flex;
                    align-self: center;
                    border-top: #BFBFBF solid 1px;
                    padding: 5px 0;
                    font-weight: 600;
                    .strength-phase {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;

                    }
                    .strength-value {
                        display: flex;
                        align-self: center;
                        .square {
                            width: 25px;
                            height: 25px;
                            border: #0BBBD7 solid 1px;
                            margin-left: 2px;
                        }
                        .square-fill {
                            width: 25px;
                            height: 25px;
                            border: #0BBBD7 solid 1px;
                            background-color: #0BBBD7;
                            margin-left: 2px;
                        }
                    }
                    
                }
                .thoughts {
                    border-top: #BFBFBF solid 1px;
                    border-bottom: #BFBFBF solid 1px;
                    padding: 10px;
                    font-size: 12px;
                    min-height: 170px
                }
                .buttons {
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 5px;
                    a {
                        margin: 5px;
                        text-decoration: underline;
                        text-decoration-color: #BFBFBF;
                    }
                }
            }
        }
    }
}

/* 練習日誌（月間表示） */
.practice_diary_header {
    height: 76px;
    padding: 0px 20px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sd {
        font-size: 36px;
        width: auto;
        display: inline;
    }
    .practice_day {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
        padding: 0;
        text-align: center;
        width: auto;
        max-width: 100%;
    }
}

.month_objective {
    height: auto;
    width: 100%;
    .month_objective_title {
        align-items: center;
        height: auto;
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        display: flex;
        .month_objective_title_name {
            font-size: 20px;
            font-weight: 700;
            height: auto;
            line-height: 1.4;
            padding: 0 20px 0 0;
            text-align: center;
            width: 15%;
        }
        .month_objective_title_input {
            border: 1px solid #EEEEEE;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            height: 40px;
            letter-spacing: 0em;
            line-height: 1.4;
            margin: 0;
            opacity: 1;
            padding: 10px;
            text-align: left;
            width: 75%;
        }
        .for_month_objective_textarea {
            margin: 10px 0;
            opacity: 1;
            width: 75%;
            .for_month_objective_textarea_input {
                border: 1px solid #EEEEEE;
                border-radius: 4px;
                font-size: 15px;
                font-weight: 400;
                height: 80px;
                letter-spacing: 0em;
                line-height: 1.4;
                opacity: 1;
                padding: 10px;
                text-align: left;
                width: 100%;
            }
        }
        .month_objective__todo_button_area {
            display: flex;
            flex-direction: column;
            height: 80px;
            justify-content: flex-end;
            width: calc(10% - 10px);
            display: flex;
            button {
                background-color: #fff;
                border: 1px solid #EEEEEE;
                border-radius: 4px;
                font-size: 15px;
                font-weight: 400;
                height: 40px;
                justify-content: center;
                margin: 0 5px;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    button {
        background-color: #fff;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        height: 40px;
        justify-content: center;
        margin: 0 5px;
        width: calc(10% - 10px);
        display: flex;
        align-items: center;
    }
}
.calender_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EEEEEE;
    height: 60px;
    width: 100%;
    .calender_header_col {
        border-right: 1px solid #EEEEEE;
        padding: 0 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 15px;
            color: #333;
        }
    }
    .col_1 {
        width: 12%;
    }
    .col_2 {
        width: 60%;
    }
    .col_3 {
        width: 13%;
    }
    .col_4 {
        width: 15%;
        border: none;
    }
}


.calender_contents {
    height: auto;
    margin: 5px 0px 0px 0px;
    width: 100%;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    .calender_content {
        display: flex;
        border-bottom: 1px solid #EEEEEE;
        width: 100%;
        justify-content: center;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        .calender_content_col {
            border-right: 1px solid #EEEEEE;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 15px;
                color: #333;
            }
        }
        .col_1 {
            width: 12%;
        }
        .col_2 {
            width: 60%;
            display: block;
            padding: 5px 20px;
            .practice {
                display: flex;
                align-items: center;
                .practice_menu {
                    background-color: #0BBBD7;
                    border-radius: 12px;
                    height: auto;
                    justify-content: flex-start;
                    margin: 5px 0;
                    width: 85%;
                    display: flex;
                    padding: 10px;
                    p {
                        color: white;
                        font-size: 15px;
                        font-weight: 700;

                    }
                    .practice_timezone {
                        background-color: #fff;
                        border-radius: 16px;
                        height: auto;
                        margin: 0 5px;
                        padding: 5px 15px;
                        width: auto;
                        p {
                            color: #333;    
                        }
                    }
                    .practice_content {
                        border: 2px solid #fff;
                        border-radius: 16px;
                        height: auto;
                        margin: 0 5px;
                        padding: 5px 15px;
                        width: auto;
                    }
                }
                .buttons {
                    width: 15%;
                    text-align: center;
                    a {
                        text-decoration: underline;
                    }
                }

            }
        }
        .col_3 {
            width: 13%;
        }
        .col_4 {
            width: 15%;
            border: none;
        }
    }
}